doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Example
    body
        #app!= html
        script!= state
        script(src='/js/client.js')
